<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST">
  <p>Let's send a hi to the API on your behalf. What was your name again?</p>
  <input type="text" name="name" id="name" value="[Name]">
  <br>
  <br>
  <input type="submit">
</form>
